
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        <h3> All links (home About)</h3>
        <br />
        <br />
        <br />
        @Html.RouteLink("Home", new { controller = "Home", action = "Index" })
        <br />
        @Html.RouteLink("About", new { controller = "Home", action = "About" })
        <br />

        @Html.RouteLink("Contacts", new { controller = "Home", action = "Contacts"})
        <br />

        @Html.RouteLink("Admin Home Index", new { controller = "Home", action = "Index", area = "Admin" })
        <br />

        @Html.RouteLink("Admin products Index", new { controller = "Products", action = "Index", area = "Admin" })
        <br />

        @Html.RouteLink("Admin products Create", new { controller = "Products", action = "Create", area = "Admin" })
        <br />

        @Html.RouteLink("Admin products Delete", new { controller = "Products", action = "Delete", area = "Admin" })
        <br />

       
    </div>
</body>
</html>
